.PPP{
    padding: 10px;
            border-left: 3px solid red; 
            border-bottom: 3px dotted blue; 
            margin: 20px; 
            background-color: #f0f8ff;
           
}

